* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Silkscreen", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #26355D;
  color: #EEEEEE;
}

img {
  width: 200px;
  height: auto;
  margin: 12px;
}

h1 {
  font-size: 54px;
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #C80036;
  }
  

button {
  font-size: 32px;
  font-family: "Silkscreen", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 12px 24px;
  margin: 12px;
  border: 1px solid #508C9B;
  border-radius: 12px;
  color: #C80036;
  box-shadow: 8px 8px 2px 1px rgba(200, 0, 53, 0.555);
}

.topBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  background-color: #201E43;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 24px 0;
}


.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.computer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.info {
  text-align: center;
}

.stats {
  width: 600px;
  margin: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#result {
  font-size: 26px;
}

